
  
  .CalendarDay__selected_span {
    background: rgba(0, 143, 148, 0.2);
    color: rgb(0, 143, 148);
  }
  .CalendarDay {
    font-weight: 700;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 7px;
  }
  .CalendarDay:hover {
    border: 0;
  }
  
  
  .CalendarDay__selected_start_no_selected_end {
    background: linear-gradient(to bottom right, #b30000 50%, transparent 50%);
    color: #82888a;
  }
  
  .CalendarDay__selected_end_no_selected_start {
    background: linear-gradient(to top left, #b30000 50%, transparent 50%);
    color: #82888a;
  }
  
  .CalendarDay__selected_start{
    background: linear-gradient(to top left, rgb(0, 143, 148) 50%, transparent 50%);
    color: black;
  }
  .CalendarDay__selected_end {
    background: linear-gradient(to bottom right,  rgb(0, 143, 148)  50%, transparent 50%);
    color: black;
  }
  .CalendarDay__highlighted_calendar{
    background: linear-gradient(to top left, #b30000  49%, transparent 49%, transparent 51%,  #b30000 51%);
    color: white;
    pointer-events: none;
  }
  .CalendarDay__blocked_calendar {
    background-color: #b30000;
    pointer-events: none;
  }

.day-item-container{
    position: relative;
    width: 100%;
    height: 100%;
}
.day-item{
    z-index: 2;
    position: relative;
}
.day-item-status {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.paid {
    background: #ff0000;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.paid.start-date{
    background: linear-gradient(135deg, transparent 54%, #ff0000 54%);
}
.paid.end-date{
    background: linear-gradient(-45deg, transparent 54%, #ff0000 54%);
}

.reserved {
    background: #72bfff;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.reserved.start-date{
    background: linear-gradient(135deg, transparent 54%, #72bfff 54%);
}
.reserved.end-date{
    background: linear-gradient(-45deg, transparent 54%, #72bfff 54%);
}
.partially-reserved {
    background: #ffe8bc;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.partially-reserved.start-date{
    background: linear-gradient(135deg, transparent 54%, #ffe8bc 54%);
}
.partially-reserved.end-date{
    background: linear-gradient(-45deg, transparent 54%, #ffe8bc 54%);
}
.color{
    width: 15px;
    height: 15px;
    border-radius: 50px;
    display: inline-block;
    border: 1px solid;
}
.color-info{
    display: inline-block;
}
.container-color-info{
    
}
  
  